<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/assets/Tshirt-component assets/css/styles.css">

        <title>SHOES card-manu</title>
    </head>
    <body>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/1.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/2.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/3.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/4.png"alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/5.png"alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/6.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/7.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/8.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/9.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/10.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/11.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/12.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/13.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/14.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/15.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/16.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/17.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/18.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/19.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        <div class="container-manoj">
            <div class="card-manu">
                <img src="/assets/Mixer-component assets/images/20.png" alt="" class="card-manu__img"> 

                <!-- <div class="card-manu__content">  -->
                     <div class="card-manu__data">
                         <h1 class="card-manu__title">NIKE SHOES</h1>
                         <span class="card-manu__preci">$99</span>
                         <p class="card-manu__description">Nike Air Jordan Footwear basketball sneakers.</p>
                         <a href="#" class="card-manu__button">Buy Now</a>
                     </div>
            </div>
        </div>
        
    </body>
</html>