<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/iphone12.png" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4"> Apple iphone 12</h1>
      <p align="justify">&#8226;&nbsp; 6.1-inch Super Retina XDR display</p>
      <p align="justify">&#8226;&nbsp; Ceramic Shield, tougher than any smartphone glass</p>
      <p align="justify">&#8226;&nbsp; A14 Bionic chip, the fastest chip ever in a smartphone</p>
      <p align="justify">&#8226;&nbsp; Advanced dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Deep Fusion, Smart HDR 3, 4K Dolby Vision HDR recording</p>
      <p align="justify">&#8226;&nbsp; 12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording</p>
      <p align="justify">&#8226;&nbsp; Industry-leading IP68 water resistance</p>
      <p align="justify">&#8226;&nbsp; Supports MagSafe accessories for easy attach and faster wireless charging</p>
      <p align="justify">&#8226;&nbsp; iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more
      </p>

  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/watch.png" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
       <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4">Apple Watch SE!</h1>
      <p align="justify">&#8226;&nbsp;GPS model lets you take calls and reply to texts from your wrist.</p>
      <p align="justify">&#8226;&nbsp;Large Retina OLED display.</p>
      <p align="justify">&#8226;&nbsp;Up to 2x faster processor than Series 3.</p>
      <p align="justify">&#8226;&nbsp;Track your daily activity on Apple Watch and see your trends in the Fitness app on iPhone.</p>
      <p align="justify">&#8226;&nbsp;Measure workouts like running, walking, cycling, yoga, swimming, and dance.</p>
      <p align="justify">&#8226;&nbsp;Swimproof design.</p>
      <p align="justify">&#8226;&nbsp;High and low heart rate notifications and irregular heart rhythm notification.</p>
      <p align="justify">&#8226;&nbsp;Sync your favorite music, podcasts, and audiobooks.</p>
      <p align="justify">&#8226;&nbsp;Built-in compass and real-time elevation readings.</p>
      <p align="justify">&#8226;&nbsp;Can detect if you’ve taken a hard fall, then automatically call emergency services for you.</p>
  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/iphone12mini.png" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
       <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4">Apple iphone 12 mini</h1>
        <p align="justify">&#8226;&nbsp;5.4-inch Super Retina XDR display.</p>
        <p align="justify">&#8226;&nbsp;Ceramic Shield, tougher than any smartphone glass.</p>
        <p align="justify">&#8226;&nbsp;A14 Bionic chip, the fastest chip ever in a smartphone.</p>
        <p align="justify">&#8226;&nbsp;Advanced dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Deep Fusion, Smart HDR 3, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;Industry-leading IP68 water resistance.</p>
        <p align="justify">&#8226;&nbsp;Supports MagSafe accessories for easy attach and faster wireless charging.</p>
        <p align="justify">&#8226;&nbsp;iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more.</p>
  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/iphone12pro.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
       <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4">Apple iphone12 pro</h1>
        <p align="justify">&#8226;&nbsp;6.1-inch Super Retina XDR display.</p>
        <p align="justify">&#8226;&nbsp;Ceramic Shield, tougher than any smartphone glass.</p>
        <p align="justify">&#8226;&nbsp;A14 Bionic chip, the fastest chip ever in a smartphone.</p>
        <p align="justify">&#8226;&nbsp;Pro camera system with 12MP Ultra Wide, Wide and Telephoto cameras; 4x optical zoom range; Night mode, Deep Fusion, Smart HDR 3, Apple ProRAW, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;LiDAR Scanner for improved AR experiences, Night mode portraits.</p>
        <p align="justify">&#8226;&nbsp;12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;Industry-leading IP68 water resistance.</p>
        <p align="justify">&#8226;&nbsp;Supports MagSafe accessories for easy attach and faster wireless charging.</p>
        <p align="justify">&#8226;&nbsp;iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more.</p>

  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/iphone12promax.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
       <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4">Apple iphone12 pro max</h1>
        <p align="justify">&#8226;&nbsp;6.7-inch Super Retina XDR display.</p>
        <p align="justify">&#8226;&nbsp;Ceramic Shield, tougher than any smartphone glass.</p>
        <p align="justify">&#8226;&nbsp;A14 Bionic chip, the fastest chip ever in a smartphone.</p>
        <p align="justify">&#8226;&nbsp;Pro camera system with 12MP Ultra Wide, Wide and Telephoto cameras; 5x optical zoom range; Night mode, Deep Fusion, Smart HDR 3, Apple ProRAW, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;LiDAR Scanner for improved AR experiences, Night mode portraits.</p>
        <p align="justify">&#8226;&nbsp;12MP TrueDepth front camera with Night mode, 4K Dolby Vision HDR recording.</p>
        <p align="justify">&#8226;&nbsp;Industry-leading IP68 water resistance.</p>
        <p align="justify">&#8226;&nbsp;Supports MagSafe accessories for easy attach and faster wireless charging.</p>
        <p align="justify">&#8226;&nbsp;iOS with redesigned widgets on the Home screen, all-new App Library, App Clips and more.</p>
  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <img src="/assets/main-images/Jumbtron/watch6.jpeg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
       <a href="#!" class="green-text">
        <h4 class="h6 pb-1">Available on 31st December 2020</h4>
      </a>

      <h1 class="display-4">Apple Watch Series 6</h1>
        <p align="justify">&#8226;&nbsp;GPS + Cellular model lets you call, text, and get directions without your phone.</p>
        <p align="justify">&#8226;&nbsp;Measure your blood oxygen with an all-new sensor and app.</p>
        <p align="justify">&#8226;&nbsp;Check your heart rhythm with the ECG app.</p>
        <p align="justify">&#8226;&nbsp;The Always-On Retina display is 2.5x brighter outdoors when your wrist is down.</p>
        <p align="justify">&#8226;&nbsp;S6 SiP is up to 20% faster than Series 5.</p>
        <p align="justify">&#8226;&nbsp;5GHz Wi-Fi and U1 Ultra Wideband chip.</p>
        <p align="justify">&#8226;&nbsp;Track your daily activity on Apple Watch and see your trends in the Fitness app on iPhone.</p>
        <p align="justify">&#8226;&nbsp;Measure workouts like running, walking, cycling, yoga, swimming, and dance.</p>
        <p align="justify">&#8226;&nbsp;Swimproof design.</p>
        <p align="justify">&#8226;&nbsp;Sync and stream music, podcasts, and audiobooks.</p>
  <hr class="my-4">
  <p>Pre Orders will get the exciting offers and Coupons. Get instant discounts on Sips Wallet.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/sips-payment" href="#" role="button">Order Now</a>
  </p>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
