<marquee behavior="scroll" direction="left" class="scrollingmatter">Atention:The Deals and offers on Hygiene equipments 
  are valid till Saturday,31-Oct-2020 (IST:11:59:59[PM])  .  Newly Launched Products sales have a huge price cut & offers check them out in NewlyArrived page or <a routerLink="/new-arrivals">click here</a>.
  On every purchase users get coupons which are applicable on next purchase(<a routerLink='/terms-conditions'>T&C*</a>).
  </marquee>

<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/main-images/banner - 1/one.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/main-images/banner - 1/two.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="/assets/main-images/banner - 1/three.jpg" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/main-images/banner - 1/four.jpg" alt="Third slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/main-images/banner - 1/five.jpg" alt="Third slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="/assets/main-images/banner - 1/six.jpg" alt="Third slide">
      </mdb-carousel-item>
  </mdb-carousel>

  <section class="py-2 my-4">
    <div class="divider-new version-2 mt-5 mb-0">
      <h4 class="text-uppercase font-weight-bold deep-grey-text mr-3">DEALS OF THE DAY</h4>
    </div>
    <div class="card">
      <div class="card-body">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-6">
          <div class="col flex-grow-1 text-center text-xl-left my-4 my-xl-0">


            <h4>Deals and offers</h4>
            <p>Hygiene equipments</p>

            <div class="d-flex justify-content-center justify-content-xl-start text-center">
              <div class="mr-2">
                <h4 class="mb-0"><span class="badge badge-dark p-2">04</span></h4>
                <small>Days</small>
              </div>
              <div class="mr-2">
                <h4 class="mb-0"><span class="badge badge-dark p-2">12</span></h4>
                <small>Hours</small>
              </div>
              <div class="mr-2">
                <h4 class="mb-0"><span class="badge badge-dark p-2">58</span></h4>
                <small>Min</small>
              </div>
              <div class="mr-2">
                <h4 class="mb-0"><span class="badge badge-dark p-2">02</span></h4>
                <small>Sec</small>
              </div>
            </div>

          </div>
          <div class="col mb-4 mb-xl-0">

            <div class="view zoom overlay">
              <img class="img-fluid w-100"
                src="/assets/Shoe-component assets/img/17.png" alt="Sample">
              <a routerLink="/sips-payment">
                <div class="mask">
                </div>
              </a>
            </div>

            <div class="text-center pt-4">

              <p class="mb-2 text-muted text-uppercase small">Lighting Shoe Deals  Grab Now .</p>
              <h2 class="mb-0"><span class="badge badge-danger badge-pill">-20% *</span></h2>

            </div>

          </div>
          <div class="col mb-4 mb-xl-0">

            <div class="view zoom overlay">
              <img class="img-fluid w-100"
                src="/assets/Shoe-component assets/img/9.png" alt="Sample">
              <a routerLink="/sips-payment">
                <div class="mask">
                </div>
              </a>
            </div>

            <div class="text-center pt-4">

              <p class="mb-2 text-muted text-uppercase small">Lighting Shoe Deals  Grab Now .</p>
              <h2 class="mb-0"><span class="badge badge-danger badge-pill">-20% *</span></h2>

            </div>

          </div>
          <div class="col mb-4 mb-xl-0">

            <div class="view zoom overlay">
              <img class="img-fluid w-100"
                src="/assets/Shoe-component assets/img/10.png" alt="Sample">
              <a routerLink="/sips-payment">
                <div class="mask">
                </div>
              </a>
            </div>

            <div class="text-center pt-4">

              <p class="mb-2 text-muted text-uppercase small">Lighting Shoe Deals  Grab Now .</p>
              <h2 class="mb-0"><span class="badge badge-danger badge-pill">-20% *</span></h2>

            </div>

          </div>
          <div class="col mb-4 mb-xl-0">

            <div class="view zoom overlay">
              <img class="img-fluid w-100"
                src="/assets/Shoe-component assets/img/15.png" alt="Sample">
              <a routerLink="/sips-payment">
                <div class="mask">
                </div>
              </a>
            </div>

            <div class="text-center pt-4">

              <p class="mb-2 text-muted text-uppercase small">Lighting Shoe Deals  Grab Now .</p>
              <h2 class="mb-0"><span class="badge badge-danger badge-pill">-20% *</span></h2>

            </div>

          </div>
          <div class="col mb-4 mb-xl-0">

            <div class="view zoom overlay">
              <img class="img-fluid w-100"
                src="/assets/Shoe-component assets/img/16.png" alt="Sample" width="50%">
              <a routerLink="/sips-payment">
                <div class="mask">
                </div>
              </a>
            </div>

            <div class="text-center pt-4">

              <p class="mb-2 text-muted text-uppercase small">Lighting Shoe Deals  Grab Now .</p>
              <h2 class="mb-0"><span class="badge badge-danger badge-pill">-20% *</span></h2>

            </div>

          </div>
        </div>

      </div>
    </div>

  </section>




 <div class="divider-new version-2 mt-5 mb-0">
  <h4 class="text-uppercase font-weight-bold deep-grey-text mr-3">Electronics-Trends</h4>
</div>


<section class="py-2 my-4">

  <div class="row">
    <div class="col-3">

      <div class="view z-depth-2 rounded">
        <img class="img-fluid w-60" src="https://mdbootstrap.com/img/Photos/Horizontal/alistyle/img(4).jpg"
          alt="Sample" style="margin-left:10px ;border-radius: 5px;margin-right: 0;">
        <a routerLink="/sips-payment" class="text-white">
          <div class="mask">
            <div class="p-3">
              <h4>MAC BOOK PRO</h4>
              <h5>Best trending Laptop only for poweUsers [Made for your needs]</h5>
              <p style="align-items:justtify">Macos Bigsur flows inside.Grab the lighting laptop to unleash the power today.
              </p>
              <button type="button" routerLink="/sips-payment" class="btn btn-outline-white btn-rounded waves-effect primary-color-dark" style="margin-left: 15px;margin-top: 10px;">Book now</button>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="col-9">

      <div class="card">
        <div class="card-body">

          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">

            <div class="col mb-4 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 mb-xl-0 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 mb-xl-0 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 mb-xl-0 pb-2">
              <div class="view zoom overlay">
<h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/16.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

            <div class="col mb-4 mb-xl-0 pb-2">
              <div class="view zoom overlay">
                <h5 class="mt-0"><a routerLink="/sips-payment" class="text-reset stretched-link">Gadgets that are Trending in 2020</a></h5>
                <img class="float-right"
                  src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg" alt="Sample"
                  width="110">

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>



<div class="divider-new version-2 mt-5 mb-0">
  <h4 class="text-uppercase font-weight-bold deep-grey-text mr-3">Recommended for You</h4>
</div>


<section class="py-2 mt-4">

  <div class="row row-cols-1 row-cols-md-3 row-cols-xl-6">

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/2.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/3.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/4.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/5.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/7.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/9.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/6.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/8.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

    <div class="col mb-4">

      
      <div class="card">

        <div class="view zoom overlay">
          <img class="img-fluid w-100"
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" alt="Sample">
          <a routerLink="/sips-payment">
            <div class="mask">

            </div>
          </a>
        </div>

        <div class="card-body text-center">

          <h5>Just another product name</h5>
          <h3 class="mb-0"><span>$179.00</span></h3>
        </div>

      </div>
      

    </div>

  </div>



  

































































































































<footer class="page-footer font-small blue pt-4">


  <div class="container-fluid text-center text-md-left">

    <div class="row">


      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">SHOPPING SIPS</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>

      </div>


      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col-md-3 mb-md-0 mb-3">


          <h5 class="text-uppercase">Team Profile</h5>

          <ul class="list-unstyled">
            <li><a routerLink="/home">Link 1</a></li>
            <li><a routerLink="/home">Link 2</a></li>
            <li><a routerLink="/home">Link 3</a></li>
          </ul>

        </div>
       
        <div class="col-md-3 mb-md-0 mb-3">


          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a routerLink="/homet">Link 1</a>
            </li>
            <li>
              <a routerLink="/home">Link 2</a>
            </li>
            <li>
              <a routerLink="/home">Link 3</a>
            </li>
            <li>
              <a routerLink="/home">Link 4</a>
            </li>
          </ul>

        </div>
      

    </div>
  

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="/terms-conditions">Shopping Sips</a>
  </div>


</footer>

