<marquee behavior="scroll" direction="left" class="scrollingmatter">Atention: The Offer Wheel works only once per day .
    The wheel disccounts will be works when you have pro membership in wards of membership you have to buy atleast 12 products in a year in SHOPPING SIPS
    . Make sure that you play the lucky wheel by knowing our terms of service <a routerLink="/terms-conditions">Click here !</a> T&C";
</marquee>


  <body>
    <div id="mainbox" class="mainbox">
        <div id="box" class="box">
            <div class="box1">
                <span class="span1"><b>50%</b></span>
                <span class="span2"><b>BL</b></span>
                <span class="span3"><b>25%</b></span>
                <span class="span4"><b>15%</b></span>
            </div>
            <div class="box2">
                <span class="span1"><b>10%</b></span>
                <span class="span2"><b>GL</b></span>
                <span class="span3"><b>1%</b></span>
                <span class="span4"><b>GL</b></span>
            </div>
        </div>
    
        <button class="spin" (click)="onClick()">SPIN</button>
    </div> 
  </body>






