<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="/assets/Tshirt-component assets/img/1.png" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Tshirt with round neck</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <input type="number" class="form-control" placeholder='1'>
                                   </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">$10.00</var> <small class="text-muted"> $9.20 each </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i class="fa fa-heart"></i></a> <a href="" class="btn btn-light" data-abc="true"> Remove</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="/assets/Tshirt-component assets/img/2.png" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Flower Formal T-shirt</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                        <input type="number" class="form-control" placeholder='1'>
                                 </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">$15</var> <small class="text-muted"> $12 each </small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i class="fa fa-heart"></i></a> <a href="" class="btn btn-light btn-round" data-abc="true"> Remove</a> </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="/assets/Tshirt-component assets/img/3.png" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">Printed White Tshirt</a>
                                            <p class="small text-muted">SIZE:M <br> Brand: Cantabil</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <input type="number" class="form-control" placeholder='1'>
                                </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">$9</var> <small class="text-muted"> $6 each</small> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip" data-abc="true"> <i class="fa fa-heart"></i></a> <a href="" class="btn btn-light btn-round" data-abc="true"> Remove</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card mb-3">
                <div class="card-body">
                    <form>
                        <div class="form-group"> <label>Have coupon?</label>
                            <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <label for="">Actual Price</label>
                    <input id="price" class="form-control" type="text">
                        <label for=""> Enter Discount</label>
                        <input id="discount" class="form-control" type="number">&nbsp;
                        <button (click)="onClick()" class="btn btn-primary btn-block" type="submit">Get total</button>
                        <br>
                        <label for="">After Discount</label>
                        <input readonly id="discounted-price" class="form-control" type="number">
                    <hr> <a routerLink="/sips-payment" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Payment </a> 
                    <a routerLink="/home" class="btn btn-out btn-primary btn-square btn-main mt-2" data-abc="true">Continue Shopping</a>
                </div>
            </div>
        </aside>
    </div>
</div>


