<div class="brand">
  <br>
  <span class="brand-name">SIPS REGISTER</span>
  <br>
</div>
<div class="container">
  <br>
  <div class="form-group">
      <label for="Uname1">First name</label>
      <input type="text" name= "txtUname1" id="txtUname1" class="form-control">
  </div>
      <div class="form-group">
      <label for="Uname2">Last name</label>
      <input type="text" name= "txtUname2" id="txtUname2" class="form-control">
      </div>
  <div class="form-group">
      <label for="Uname3">Email Address</label>
      <input type="text" name= "txtUname3" id="txtUname3" class="form-control">
  </div>
  <div class="form-group">
    <label for="ph">Phone number</label>
    <input type="text" name= "txtph" id="txtph" class="form-control">
    </div>
  <div class="form-group">
      <label for="pwd1">Password</label>
      <input type="password" name="txtpwd1" id="txtpwd" class="form-control">
  </div>
  <div class="form-group">
      <label for="pwd2">Confirm Password</label>
      <input type="confirm password" name="txtpwd2" id="txtpwd2" class="form-control">
  </div>
  <div> 
    <a routerLink="/home"><button class="btn btn-primary btn-block">SUBMIT</button></a>
  </div>
</div>
<div id="circularMenu" class="circular-menu">
  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
  <i class="fa fa-space-shuttle"></i>
  </a>
    <menu class="items-wrapper">
    <!--======================= FONT AWSOME ICONS HTML CODE===================================== -->
    <a href="https://www.facebook.com/ShoppingSips-114120513764185" class="menu-item fa fa-facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/ShoppingSips" class="menu-item fa fa-twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/_.shoppingsips._/" class="menu-item fa fa-instagram"><i class="fab fa-instagram"></i></a>
    <a href="mailto:ShoppingShips@outlook.com?subject = Feedback&body = Message" class="menu-item fa fa-envelope"></a>
  </menu>
</div>
