<div class="container-fluid">
    <div class="row"> 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a routerLink="/product-tshirt"><img src="/assets/main-images/banner - 1/eight.jpg"   class="img-fluid"></a>
        <a routerLink="/product-phone"><img src="/assets/main-images/banner - 1/nine.jpg"  class="img-fluid"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a routerLink="/product-headphones"><img src="/assets/main-images/banner - 1/ten.jpg"  class="img-fluid"></a>
        <a routerLink="/product-pen"><img src="/assets/main-images/banner - 1/eleven.jpg" class="img-fluid"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a routerLink="/product-mixer"><img src="/assets/main-images/banner - 1/twelve.jpg"  class="img-fluid"></a>
        <a routerLink="/product-chocolates'"><img src="/assets/main-images/banner - 1/thirteen.jpg"  class="img-fluid"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a routerLink="/product-refridgerator"><img src="/assets/main-images/banner - 1/fourteen.jpg"  class="img-fluid"></a>
        <a routerLink="/product-baby-stroller"><img src="/assets/main-images/banner - 1/fifteen.jpg"   class="img-fluid"></a>
      </div>
    </div>
    </div>